---
import styles from './Footer.module.css'
const year = new Date().getFullYear()
---
<footer class={styles.footer}>
    <p class={styles.copy}>
        &copy; {year} Estudio Contable SZ. Todos los derechos reservados.
    </p>
</footer>
